<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Hojas de Estilos CSS -->
<script type="text/css" th:src="@{/css/style.css}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body>
	<h1 th:text="#{app.title}">Ghost Game</h1>
	<div>
		<label th:utext="#{label.selectLetter}"></label> <select
			class="form-control xs tinput" id="comboLetters">
			<option th:each="letter : ${comboLetters}" th:value="${letter}"
				th:text="${letter}"></option>

		</select> <input type="text" disabled id="fragment">
	</div>
	<div id="labelIA"><label style="color:red;font-weight: bold;"th:utext="#{label.isIsPlaying}" visible="false"></label></div>

</body>
<!-- Scripts Javascript -->
<script type="text/javascript" th:src="@{/js/ajax_calls.js}"></script>

</body>

</html>